h1.font-weight-lighter.s-16.bolder {
    font-size: 1.6rem;
    font-weight: 300;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.treeview {
    margin-top: 1rem;
}

.card {
    margin-bottom: 1rem;
    border-radius: 0; /* Remove border-radius if you want sharp edges */
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
}

.btn-primary {
    margin-top: 0.5rem;
}

.card-text {
    margin-top: 0.5rem;
}
